// Buttons 

a.btn{
    display:inline-block;
    margin:0 auto 0.4rem;
    margin-top:1.2rem;
    font-weight: bolder;
    color:white;
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: -0.02rem;
    border-bottom: 3px solid red;
    // opacity: 0.85;
}
a.btn:hover{
    color:red;
    border-bottom: 3px solid white;
}

.btn-small.about{
    display:inline-block;
    border: 3px solid red;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    padding:0.7rem 1.5rem;
}
.btn-small.about:hover{
    background-color: red;
    color:white;
    border: 3px solid red;
}


.btn-small-small{
    // display:inline-block;
    // margin:0 auto 6px;
    margin-top:0.7em;
    font-weight: bolder;
    color:white;
    font-size: 1rem;
    line-height: 1.5*1rem;
    letter-spacing: -0.02em;
    border-bottom: 3px solid red;
    background: black;
    border-top: none;
    border-left: none;
    border-right:none;
}

h2.section-title{
    color:white;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform:uppercase;
    
}

.section-header{
    margin-bottom:1.3em;
}

// work
#work-section{
    padding-bottom:7em;
    background-color: $body-bg;
    hr{
        width:31px;
        height:4px;
        background:red;
        margin-top:3px;
    }
    
    img{
       width:100%;
       height:200px;
       object-fit: cover;

    }


    .card-cont:nth-last-of-type(3){
        margin-bottom:0;
    }
    
   
    .card{
        background-color:#1A1B21;
        color:white;
        border:none;
        margin-bottom: .50rem;
       
    }



    .card-body{
        padding:1.5rem 0;
        margin-bottom:0.7rem;
        a.p-link{
            display:inline-block;
            border: 3px solid red;
            background-color: transparent;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            font-weight: bolder;
            text-decoration: none;
            padding:.50em 1.5em;
           
        }
        a.p-link:hover{
            border: 3px solid red;
            background-color: red;
            color: white;
            // font-size: 16px;
            cursor: pointer;
        }
        p span{
            font-weight: 900;
            font-size:.90rem;
            line-height:27px;
            margin-right:.50em;
        }
    }

    .card-title{
        margin-bottom:0.7rem;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 38px;
        letter-spacing: 0.02rem;
    }
    

    .card-text{
        font-size:.90rem;
        line-height:25px;
        margin-bottom: 1.2em;
    }
    .main-btn{
        text-align:center;
    }

}      
    
// Slider
#slider{
    background-color: $body-bg;
    padding-top:7em;
    padding-bottom:7em;
}



#about-section{
   
    //     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    //     background-size: 400% 400%;
    //     animation: gradient 15s ease infinite;
    
    
    // @keyframes gradient {
    //     0% {
    //         background-position: 0% 50%;
    //     }
    //     50% {
    //         background-position: 100% 50%;
    //     }
    //     100% {
    //         background-position: 0% 50%;
    //     }
    // }
    padding-top:7rem;
    padding-bottom: 7rem;
    background-color: white;  
    color:black;
    
    .container{
        padding:0;
    }
    .list-group-item{
        margin-bottom:1.5rem;
        border:none;
        padding:0;
    }

    hr{
        width:31px;
        height:4px;
        background:red;
        margin-top:.30rem;
    }
    .row{
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    // .col{
    //     flex-basis:50%;
    //     align-items:center;
    // }
    
    // .col img{
    //     max-width: 100%;
    //     padding:50px 0;
    //     text-align: right;
    // }
    .tech-img{
        text-align: right;
    }
    .about-para{
        margin-bottom: 2.2rem;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 31px;
    }

    .capab-heading{
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 31px;
        text-transform: uppercase;
        letter-spacing: -0.01rem;
        margin:0;
    }
    
    
    

}

// slider
#slide{
    background-color: #1A1B21;
    align-items:center;
    justify-content: center;
    .slide{
        text-align: left;
       
    }
    h5{
    font-weight: bolder;
    }
    p{
    margin-bottom:.30rem;
    }

    img{
        width:100%;
    }
    
}

 

