// Navigation - Navbar

header{
  background-color: $body-bg;
  color:white;
  padding:40px 0;
  .navbar{
    color:white;
  }
  .container{
    padding:0;
  }
  h1.navbar-brand{
    font-weight: 900;
    color:white;
    font-size:2rem;
    margin:0;
    padding:0;
  }
  .nav-item{
    color:white;
    text-decoration: none;
    padding:20px;
    // padding-right:0;
    font-size: 18px;
    line-height: 31px;
    
  }
  .nav-item:hover,
  .nav-item:focus{
    color: #FFF;
    background-color: #252525;
    text-decoration:none;
}
 

  
}





//footer
#foot{
  
  margin:0 auto;
  background-color: black;
  color:white;
  padding-top:80px;
  padding-bottom:60px;
  
  .container{
    max-width:700px;
    width:90%;
  }

  .contact-line h3{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
  }

  .form-control{
    background-color: $form-input-color;
    border:none;
    border-radius:0px;
  }

  .label{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 38px;
  }
  .social-media-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap; 
  
}

.social-group{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
}