// Navigation - Navbar
.container-nav{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:3em .75em;
}
.name{
  font-weight:900;
}
.designation{
  font-weight:700;
  font-size:.75rem;
}
nav ul{
  list-style:none;
  display:flex;
  padding:0;
  
}
nav li{
  margin-left:2em;
  
}
nav a{
  text-decoration:none;
  color:white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.8rem;
  padding:.25em 0;
  text-transform:uppercase;
}
nav a:hover,
nav a:focus{
   color: white;
}

@media (max-width:576px){
  .container-nav{
      flex-direction:column;
  }
  nav ul{
    flex-direction:column;
    align-items: center;
  }
  nav li{
    margin:.5em 0;
  }
  .border-line{
    border-bottom:2px solid white;
    padding-bottom:25px;
  }
}


//footer
#foot{
  
  margin:0 auto;
  background-color: black;
  padding-top:80px;
  padding-bottom:60px;
  .container{
    width:40%;
  }

  .contact-line h3{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
  }

  .form-control{
    background-color: $form-input-color;
    border-radius:0px;
  }

  .label{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 38px;
  }
  .social-media-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap; 
  
}

.social-group{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
}