// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Noto Sans HK', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;


$body-bg:black;

$gradient-color-purple:linear-gradient(180deg, #D61151 0%, #6D24C0 100%);
$cta-bg:linear-gradient(#C2114A, #23181E);
$form-input-color:#C4C4C4;
$smoky-white:#F1F1F1;