// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.carousel-inner > .item >img{
    min-height : 300px;
    max-height : 300px;
    width : 100%;
  }
