@import 'reset';

// Global

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Partials
@import 'variables';

@import 'typography';

@import 'navigation';

@import 'components';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}  

body{
  background-color: #1A1B21;
  color:white;
}

.container{
    margin:0 auto;
    width: 90%;
    max-width:1120px;
    
}

hr{
  width:31px;
  height:4px;
  background-image:$gradient-color-purple;
  margin-top:3px;
}