@import 'reset';

// Global

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Partials
@import 'variables';

@import 'typography';

@import 'navigation';

@import 'components';



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}  

body{
  background-color: #1A1B21;
  color:white;
}



hr{
  width: 4px;
  height: 31px;
  background-color: linear-gradient(180deg, #D61151 0%, #6D24C0 100%);
  
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 720px) { 
  body{
    font-size:2em;
  }
  header{
    padding:20px 0;
    .container{
      padding:0 12px;
    }
  }
 
  #work-section{
    .container{
      padding:0 30px;
    }
    div.card.mg-b{
      margin-bottom:15px;
    }
    
  }
  #about-section{
    .row{
      justify-content: center;
      align-items: center;
    }
    .container{
      padding:0 30px;
    }
    .right{
      align-items: center;
      img{
        text-align: center;
      }
     
    }
  }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
@media (min-width: 720px) {}
 

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
